[submodule "core/extlib/luavgl"]
	path = core/extlib/luavgl
	url = https://github.com/paco9527/luavgl.git
[submodule "core/extlib/WiringPi"]
	path = core/extlib/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "core/extlib/lua"]
	path = core/extlib/lua
	url = https://github.com/lua/lua.git
[submodule "core/extlib/lua-cjson"]
	path = core/extlib/lua-cjson
	url = https://github.com/mpx/lua-cjson/
