[submodule "core/extlib/luavgl"]
	path = core/extlib/luavgl
	url = https://github.com/paco9527/luavgl.git
[submodule "core/extlib/rpi_ws281x"]
	path = core/extlib/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
