[submodule "core/extlib/luavgl"]
	path = core/extlib/luavgl
	url = https://github.com/XuNeo/luavgl
[submodule "core/extlib/WiringPi"]
	path = core/extlib/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "core/extlib/lua"]
	path = core/extlib/lua
	url = https://github.com/lua/lua.git
[submodule "core/extlib/lua-cjson"]
	path = core/extlib/lua-cjson
	url = https://github.com/mpx/lua-cjson/
[submodule "core/extlib/lvgl"]
	path = core/extlib/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "core/extlib/rpi-ws281x"]
	path = core/extlib/rpi-ws281x
	url = https://github.com/jgarff/rpi_ws281x
