INC += /home/paco/pitrix/core
INC += /home/paco/pitrix/core/extlib
INC += /home/paco/pitrix/core/extlib/lua-5.4.6
INC += /home/paco/pitrix/core/extlib/lua-5.4.6/src
INC += /home/paco/pitrix/core/extlib/lua-5.4.6/doc
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/DEBIAN
INC += /home/paco/pitrix/core/extlib/lua-cjson
INC += /home/paco/pitrix/core/extlib/lua-cjson/tests
INC += /home/paco/pitrix/core/extlib/lua-cjson/lua
INC += /home/paco/pitrix/core/extlib/lua-cjson/lua/cjson
INC += /home/paco/pitrix/core/extlib/luavgl
INC += /home/paco/pitrix/core/extlib/luavgl/build
INC += /home/paco/pitrix/core/extlib/luavgl/cmake
INC += /home/paco/pitrix/core/extlib/luavgl/simulator
INC += /home/paco/pitrix/core/extlib/luavgl/simulator/widgets
INC += /home/paco/pitrix/core/extlib/luavgl/src
INC += /home/paco/pitrix/core/extlib/luavgl/src/widgets
INC += /home/paco/pitrix/core/extlib/luavgl/examples
INC += /home/paco/pitrix/core/extlib/luavgl/deps
INC += /home/paco/pitrix/core/extlib/luavgl/deps/lv_drivers
INC += /home/paco/pitrix/core/extlib/luavgl/deps/lua-compat-5.3
INC += /home/paco/pitrix/core/extlib/luavgl/deps/lvgl
INC += /home/paco/pitrix/core/extlib/lvgl
INC += /home/paco/pitrix/core/extlib/lvgl/build
INC += /home/paco/pitrix/core/extlib/lvgl/scripts
INC += /home/paco/pitrix/core/extlib/lvgl/scripts/release
INC += /home/paco/pitrix/core/extlib/lvgl/scripts/built_in_font
INC += /home/paco/pitrix/core/extlib/lvgl/docs
INC += /home/paco/pitrix/core/extlib/lvgl/env_support
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread/squareline
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread/squareline/ui
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread/squareline/ui/lvgl
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/zephyr
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/cmake
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/cmsis-pack
INC += /home/paco/pitrix/core/extlib/lvgl/tests
INC += /home/paco/pitrix/core/extlib/lvgl/tests/makefile
INC += /home/paco/pitrix/core/extlib/lvgl/tests/ref_imgs
INC += /home/paco/pitrix/core/extlib/lvgl/tests/unity
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src/test_cases
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src/test_fonts
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src/test_files
INC += /home/paco/pitrix/core/extlib/lvgl/.github
INC += /home/paco/pitrix/core/extlib/lvgl/src
INC += /home/paco/pitrix/core/extlib/lvgl/src/font
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/renesas
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/swm341_dma2d
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/stm32_dma2d
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/nxp
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/nxp/pxp
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/nxp/vglite
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/sdl
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/arm2d
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/sw
INC += /home/paco/pitrix/core/extlib/lvgl/src/core
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/ffmpeg
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/png
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/qrcode
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/bmp
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/gif
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/freetype
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/fsdrv
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/rlottie
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/sjpg
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/layouts
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/layouts/flex
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/layouts/grid
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes/default
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes/basic
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes/mono
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/tabview
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/meter
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/animimg
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/calendar
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/win
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/msgbox
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/imgbtn
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/spinner
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/span
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/led
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/keyboard
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/colorwheel
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/list
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/chart
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/menu
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/tileview
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/spinbox
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/snapshot
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/imgfont
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/gridnav
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/monkey
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/ime
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/fragment
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/msg
INC += /home/paco/pitrix/core/extlib/lvgl/src/hal
INC += /home/paco/pitrix/core/extlib/lvgl/src/misc
INC += /home/paco/pitrix/core/extlib/lvgl/src/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/demos
INC += /home/paco/pitrix/core/extlib/lvgl/examples
INC += /home/paco/pitrix/core/modules
INC += /home/paco/pitrix/core/modules/log
INC += /home/paco/pitrix/core/modules/simple-bmp
INC += /home/paco/pitrix/core/modules/render
INC += /home/paco/pitrix/core/modules/network
INC += /home/paco/pitrix/core/modules/graph
INC += /home/paco/pitrix/core/modules/key_handle
INC += /home/paco/pitrix/core/sys
INC += /home/paco/pitrix/core/sys/main
INC += /home/paco/pitrix/core/sys/launcher
INC += /home/paco/pitrix/core/sys/script_handler
