INC += /home/paco/pitrix/core
INC += /home/paco/pitrix/core/extlib
INC += /home/paco/pitrix/core/extlib/lua-5.4.6
INC += /home/paco/pitrix/core/extlib/lua-5.4.6/src
INC += /home/paco/pitrix/core/extlib/lua-5.4.6/doc
INC += /home/paco/pitrix/core/extlib/build
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/3.22.1
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/3.22.1/CompilerIdCXX
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/3.22.1/CompilerIdCXX/tmp
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/3.22.1/CompilerIdC
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/3.22.1/CompilerIdC/tmp
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/ws2811.dir
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/CMakeTmp
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/build/CMakeFiles/test.dir
INC += /home/paco/pitrix/core/extlib/rpi_ws281x-1.0.0/DEBIAN
INC += /home/paco/pitrix/core/extlib/cJSON
INC += /home/paco/pitrix/core/extlib/lua-cjson
INC += /home/paco/pitrix/core/extlib/lua-cjson/tests
INC += /home/paco/pitrix/core/extlib/lua-cjson/lua
INC += /home/paco/pitrix/core/extlib/lua-cjson/lua/cjson
INC += /home/paco/pitrix/core/extlib/wiringPI
INC += /home/paco/pitrix/core/extlib/luavgl
INC += /home/paco/pitrix/core/extlib/luavgl/build
INC += /home/paco/pitrix/core/extlib/luavgl/cmake
INC += /home/paco/pitrix/core/extlib/luavgl/simulator
INC += /home/paco/pitrix/core/extlib/luavgl/simulator/widgets
INC += /home/paco/pitrix/core/extlib/luavgl/src
INC += /home/paco/pitrix/core/extlib/luavgl/src/widgets
INC += /home/paco/pitrix/core/extlib/luavgl/examples
INC += /home/paco/pitrix/core/extlib/luavgl/examples/flappyBird
INC += /home/paco/pitrix/core/extlib/luavgl/examples/assets
INC += /home/paco/pitrix/core/extlib/luavgl/deps
INC += /home/paco/pitrix/core/extlib/luavgl/deps/lv_drivers
INC += /home/paco/pitrix/core/extlib/luavgl/deps/lua-compat-5.3
INC += /home/paco/pitrix/core/extlib/luavgl/deps/lvgl
INC += /home/paco/pitrix/core/extlib/gpio
INC += /home/paco/pitrix/core/extlib/lvgl
INC += /home/paco/pitrix/core/extlib/lvgl/build
INC += /home/paco/pitrix/core/extlib/lvgl/scripts
INC += /home/paco/pitrix/core/extlib/lvgl/scripts/release
INC += /home/paco/pitrix/core/extlib/lvgl/scripts/built_in_font
INC += /home/paco/pitrix/core/extlib/lvgl/docs
INC += /home/paco/pitrix/core/extlib/lvgl/docs/libs
INC += /home/paco/pitrix/core/extlib/lvgl/docs/_static
INC += /home/paco/pitrix/core/extlib/lvgl/docs/_static/css
INC += /home/paco/pitrix/core/extlib/lvgl/docs/_static/img
INC += /home/paco/pitrix/core/extlib/lvgl/docs/_static/js
INC += /home/paco/pitrix/core/extlib/lvgl/docs/overview
INC += /home/paco/pitrix/core/extlib/lvgl/docs/overview/renderers
INC += /home/paco/pitrix/core/extlib/lvgl/docs/get-started
INC += /home/paco/pitrix/core/extlib/lvgl/docs/get-started/platforms
INC += /home/paco/pitrix/core/extlib/lvgl/docs/get-started/os
INC += /home/paco/pitrix/core/extlib/lvgl/docs/get-started/bindings
INC += /home/paco/pitrix/core/extlib/lvgl/docs/layouts
INC += /home/paco/pitrix/core/extlib/lvgl/docs/_ext
INC += /home/paco/pitrix/core/extlib/lvgl/docs/intro
INC += /home/paco/pitrix/core/extlib/lvgl/docs/_templates
INC += /home/paco/pitrix/core/extlib/lvgl/docs/misc
INC += /home/paco/pitrix/core/extlib/lvgl/docs/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/docs/widgets/core
INC += /home/paco/pitrix/core/extlib/lvgl/docs/widgets/extra
INC += /home/paco/pitrix/core/extlib/lvgl/docs/others
INC += /home/paco/pitrix/core/extlib/lvgl/docs/porting
INC += /home/paco/pitrix/core/extlib/lvgl/env_support
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread/squareline
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread/squareline/ui
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/rt-thread/squareline/ui/lvgl
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/zephyr
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/cmake
INC += /home/paco/pitrix/core/extlib/lvgl/env_support/cmsis-pack
INC += /home/paco/pitrix/core/extlib/lvgl/tests
INC += /home/paco/pitrix/core/extlib/lvgl/tests/makefile
INC += /home/paco/pitrix/core/extlib/lvgl/tests/ref_imgs
INC += /home/paco/pitrix/core/extlib/lvgl/tests/unity
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src/test_cases
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src/test_fonts
INC += /home/paco/pitrix/core/extlib/lvgl/tests/src/test_files
INC += /home/paco/pitrix/core/extlib/lvgl/.github
INC += /home/paco/pitrix/core/extlib/lvgl/.github/workflows
INC += /home/paco/pitrix/core/extlib/lvgl/.github/ISSUE_TEMPLATE
INC += /home/paco/pitrix/core/extlib/lvgl/src
INC += /home/paco/pitrix/core/extlib/lvgl/src/font
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/renesas
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/swm341_dma2d
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/stm32_dma2d
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/nxp
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/nxp/pxp
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/nxp/vglite
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/sdl
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/arm2d
INC += /home/paco/pitrix/core/extlib/lvgl/src/draw/sw
INC += /home/paco/pitrix/core/extlib/lvgl/src/core
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/ffmpeg
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/png
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/qrcode
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/bmp
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/gif
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/freetype
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/fsdrv
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/rlottie
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/libs/sjpg
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/layouts
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/layouts/flex
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/layouts/grid
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes/default
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes/basic
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/themes/mono
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/tabview
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/meter
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/animimg
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/calendar
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/win
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/msgbox
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/imgbtn
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/spinner
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/span
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/led
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/keyboard
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/colorwheel
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/list
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/chart
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/menu
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/tileview
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/widgets/spinbox
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/snapshot
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/imgfont
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/gridnav
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/monkey
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/ime
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/fragment
INC += /home/paco/pitrix/core/extlib/lvgl/src/extra/others/msg
INC += /home/paco/pitrix/core/extlib/lvgl/src/hal
INC += /home/paco/pitrix/core/extlib/lvgl/src/misc
INC += /home/paco/pitrix/core/extlib/lvgl/src/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/demos
INC += /home/paco/pitrix/core/extlib/lvgl/demos/stress
INC += /home/paco/pitrix/core/extlib/lvgl/demos/benchmark
INC += /home/paco/pitrix/core/extlib/lvgl/demos/benchmark/assets
INC += /home/paco/pitrix/core/extlib/lvgl/demos/music
INC += /home/paco/pitrix/core/extlib/lvgl/demos/music/assets
INC += /home/paco/pitrix/core/extlib/lvgl/demos/keypad_encoder
INC += /home/paco/pitrix/core/extlib/lvgl/demos/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/demos/widgets/assets
INC += /home/paco/pitrix/core/extlib/lvgl/examples
INC += /home/paco/pitrix/core/extlib/lvgl/examples/get_started
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/ffmpeg
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/png
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/qrcode
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/bmp
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/gif
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/freetype
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/rlottie
INC += /home/paco/pitrix/core/extlib/lvgl/examples/libs/sjpg
INC += /home/paco/pitrix/core/extlib/lvgl/examples/anim
INC += /home/paco/pitrix/core/extlib/lvgl/examples/layouts
INC += /home/paco/pitrix/core/extlib/lvgl/examples/layouts/flex
INC += /home/paco/pitrix/core/extlib/lvgl/examples/layouts/grid
INC += /home/paco/pitrix/core/extlib/lvgl/examples/scroll
INC += /home/paco/pitrix/core/extlib/lvgl/examples/styles
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/bar
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/tabview
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/roller
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/meter
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/animimg
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/checkbox
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/calendar
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/dropdown
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/win
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/slider
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/msgbox
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/imgbtn
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/spinner
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/switch
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/btnmatrix
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/btn
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/span
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/led
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/textarea
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/keyboard
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/arc
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/img
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/colorwheel
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/label
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/obj
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/list
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/canvas
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/line
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/chart
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/table
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/menu
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/tileview
INC += /home/paco/pitrix/core/extlib/lvgl/examples/widgets/spinbox
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/snapshot
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/imgfont
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/gridnav
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/monkey
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/ime
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/fragment
INC += /home/paco/pitrix/core/extlib/lvgl/examples/others/msg
INC += /home/paco/pitrix/core/extlib/lvgl/examples/arduino
INC += /home/paco/pitrix/core/extlib/lvgl/examples/arduino/LVGL_Arduino
INC += /home/paco/pitrix/core/extlib/lvgl/examples/porting
INC += /home/paco/pitrix/core/extlib/lvgl/examples/assets
INC += /home/paco/pitrix/core/extlib/lvgl/examples/assets/font
INC += /home/paco/pitrix/core/extlib/lvgl/examples/assets/emoji
INC += /home/paco/pitrix/core/extlib/lvgl/examples/event
INC += /home/paco/pitrix/core/modules
INC += /home/paco/pitrix/core/modules/log
INC += /home/paco/pitrix/core/modules/simple-bmp
INC += /home/paco/pitrix/core/modules/render
INC += /home/paco/pitrix/core/modules/network
INC += /home/paco/pitrix/core/modules/graph
INC += /home/paco/pitrix/core/modules/key_handle
INC += /home/paco/pitrix/core/sys
INC += /home/paco/pitrix/core/sys/main
INC += /home/paco/pitrix/core/sys/launcher
INC += /home/paco/pitrix/core/sys/script_handler
