LVGL_CONF += core/extlib/
LVGL_DIR += core/extlib/lvgl
Mod_dir = core/modules
HW_Dir = core/extlib
SYS_Dir = core/sys
OUTPUT = output

CROSS_COMPILE = arm-linux-gnueabihf-
TOOL_CHAIN = arm-linux-gnueabihf-gcc

#source code directory list
ModLIB = log network render
SYS = main script_handler

#build settings
ECHO = @
TARGET = pitrix
OS_LIB = -lm -lpthread -L./ -lwiringPi -L/usr/local/openssl/lib -lcrypt -I$(LVGL_CONF) -I$(LVGL_DIR) -I/usr/local/include
MY_BUILD_FLAG = -g -DUSE_HW_BRIGHTNESS -DRENDER_USE_LVGL


